body, html, div, h1, h2, nav, ul, li, article {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 960px;
}

.clear {
    clear: both;
}


body {
    padding-left: 4px;
    font-size: 14px;
}

header {
    height: 57px;
    padding: 20px;
    border-bottom: 5px solid #3ac319;
    background-image: url('images/header-bg.png');
}

#title h1 {
    float: left;
    font-size: 34px;
    color: #ebfef1;
}

#title h2 {
    float: left;
    clear: both;
    font-size: 14px;
    color: #C0C0C0;
    font-weight: normal;
}

#nav ul {
    list-style-type: none;
    color: #cc6600;
    float: right;
    position:relative;
    top:-15px;
    margin-right:10px;
}

#nav li {
    font-size: 18px;
    float: left;
    font-weight: bold;
    margin-left:20px;
}
#content{
    float:left;
}

#content h1 {
    padding:21px 0 7px 0;
    font-size: 30px;
    color:#4f6d46;
}

#content article{
    color:#555555;
    width:763px;
}

#aside {
    color:#555555;
    float:right;
}

#aside{
    margin-top:20px;
    text-transform:uppercase;
    color:#38620d;
    font-weight:bold;
    float:left;
}

hr{
    width:196px;
}

input{
    width:155px;
    height:22px;
}