<div id="login-form" class="container">
    <div class="col-md-3 col-md-offset-4">
        <div class="row">
            <label for="tb-username"> Username: </label>
            <input class="form-control" type="text" id="tb-username" placeholder="username">
        </div>
        <div class="row">
            <label for="tb-password"> Password: </label>
            <input class="form-control" type="text" id="tb-password" placeholder="username">
        </div>
        <button id="btn-login" class="btn btn-success block">Login</button>
        <p>Not registered?</p>
        <button id="btn-register" class="btn btn-success block">Register</button>
    </div>
</div>