<div id="register-form" class="container">
    <div class="col-md-3 col-md-offset-4">
        <div class="row">
            <hr>
            <label>Please fill your personal data</label>
            <hr>
            <label for="tb-username"> Username: </label>
            <input class="form-control" type="text" id="tb-username" placeholder="username">
        </div>
        <div class="row">
            <label for="tb-password"> Password: </label>
            <input class="form-control" type="text" id="tb-password" placeholder="username">
        </div>
        <button id="btn-register" class="btn btn-success">Register</button>
    </div>
</div>