<h2 class="text-center">All Forum Posts</h2>
<div class="row">
    <a href="#/threads/add" class="btn btn-primary">Add new Post</a>
</div>
{{#each this}}
<div class="row">
    <div class="col-md-2">
        <a href="#/threads/{{id}}">{{title}}</a>
    </div>
    <div class="col-md-1">
        <a href="#/threads/{{id}}/messages" class="btn btn-primary addMessage">Add Message</a>
    </div>
</div>
<p>
    by: {{user.username}}
</p>
<ul>
    {{#each messages}}
    <li>{{this.text}}</li>
    {{/each}}
</ul>
<hr>
{{/each}}
<button id="previous-btn" class="btn btn-primary">Previous</button>
<button id="next-btn" class="btn btn-primary">Next</button>



