<h1>Welcome to the</h1>
<strong>Crawd Share</strong>
</strong>
<p>This is stupid home page</p>
<h2>Login and Logout buttons reload the page. This is how this stuff works. That DOES NOT MEAN that the application is not SPA</h2>
<h2>Check out Doncho's solution in github for 'Self manager'. It is made the same way.</h2>
<ul>
    <li>Aditional notes:</li>
    <li>Not any yet</li>
</ul>
