<div id="register-form" class="container">
    <div class="col-md-3 col-md-offset-4">
        <div class="row">
            <hr>
            <label>Please fill your personal data</label>
            <hr>
            <label for="tb-username-register"> Username: </label>
            <input class="form-control" type="text" id="tb-username-register" placeholder="username">
        </div>
        <div class="row">
            <label for="tb-password-register"> Password: </label>
            <input class="form-control" type="password" id="tb-password-register" placeholder="password">
        </div>
        <button id="btn-register" class="btn btn-success">Register</button>
    </div>
</div>